{% layout 'layout.liquid' %}
{% block content %}
  {% if macros.length > 0%}
    <div>
      <h2 class="display-6">All Macros</h2>
      <div class="row">
        {% for macro in macro %}
          <div class="card" style="width: 18rem;">
            <h5 class="card-header">{{macro.name}}
            </h5>
            <div class="card-body">
              <h5 class="card-title">
                {% if macro.name %}
                  Ripe
                {% else %}
                  Not Ripe
                {% endif %}
              </h5>
              <p class="card-text">The color of this
                {{macro.name}}
                is
                {{macro.protein}}
              </p>
              <div class="colorBox" style="background-color: {{macro.name}}"></div>
              <a class="btn btn-info" href="/macro/{{macro.id}}">
                View
                {{macro.name}}
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <div>
      <h2 class="display-6">No macros yet... time to add some!</h2>
    </div>
  {% endif %}
{% endblock %}}}}